.timeline {
    flex: 0.5;
    margin: 2% auto;
    width: 46%;
}

.timeline__inputContainer {
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;

}

.timeline__input > form {
    display: flex;
    width: 100%;
}

.timeline__input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}

.timeline__input > form > button{
    display: none;
}

.timeline__inputOptions{
    display:flex;
    justify-content: space-evenly;
}

hr {
    margin-block-start: 16px;
    margin-block-end: 16px;
    
}

@media screen and (max-width: 750px) {
    .feed_inputOptions {
       
        font-size: 13px;
    }
  }